# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=evert
DB_PASS=nakroth
DB_NAME=taller_1
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_SSL=false

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_jwt_aqui
JWT_EXPIRES_IN=7d

# Cloudflare R2 Storage (Imágenes)
R2_ACCOUNT_ID=28a4598807bce062499a884e282c15b7
R2_BUCKET_NAME=obsidian-vault
R2_ACCESS_KEY_ID=tu_access_key_id_aqui
R2_SECRET_ACCESS_KEY=tu_secret_access_key_aqui
R2_PUBLIC_URL=https://pub-xxxxxx.r2.dev
