# Servidor
PORT=3000
NODE_ENV=development

# Base de Datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=evert
DB_PASS=nakroth
DB_NAME=taller_1
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_SSL=false

# Seguridad JWT
JWT_SECRET=tu_clave_secreta_jwt_aqui
JWT_EXPIRES_IN=7d
